.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}
.gridBox {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
}
@media (max-width: 575px) {
	.grid {
		grid-template-columns: repeat(1, 1fr);
	}
		.gridBox{
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (min-width: 576px) and (max-width: 768px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);		
	}
		.gridBox{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 769px) and (max-width: 991px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
	.gridBox{
		grid-template-columns: repeat(2, 1fr);
		
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}
